@import 'colors';
@import 'typography';

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    padding: 0;
    margin-top: 40px;
    background: linear-gradient(to top, $soft-blue, $soft-violet);
    font-weight: nth($font-kumbh-weight, 1 );
    font-family: $font-kumbh-family;
    font-size: $font-size;

    main {
        display: flex;
        background-color: $white;
        max-width: 920px;
        width: 90%;
        min-height: 545px;
        margin: 50px 0;
        border-radius: 20px;
        box-shadow: 0 20px 15px 0px rgba(29, 30, 53, 0.2);

        
        .container {
            position: relative;
            flex: 1;
        }

        .container:first-child {
            display: flex;
            align-items: center;
            position: relative;
            height: auto;
            width: 100%;

            .illustration {
                display: flex;
                align-items: center;
                position: relative;
                overflow: hidden;
                height: 100%;
                width: 100%;

                .pattern {
                    position: absolute;
                    background-image: url(/images/bg-pattern-desktop.svg);
                    background-repeat: no-repeat;
                    background-size: contain;
                    height: 1266px;
                    width: 1245px;
                    left: -790px;
                    top: -384px;
                }

                .woman-online {
                    position: absolute;
                    background-image: url(/images/illustration-woman-online-desktop.svg);
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: right;
                    height: 672px;
                    width: 559px;
                    left: -105px;
                }

            }

            .illustration-box {
                position: absolute;
                background-image: url(/images/illustration-box-desktop.svg);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: right center;
                height: 191px;
                width: 284px;
                left: -182px;
                margin-top: 95px;
                z-index: 1;
            }
        }

        .container:last-child {

            .faq-content {
                padding: 60px;

                h1 {
                    text-transform: uppercase;
                    font-weight: nth($font-kumbh-weight, 2 );
                    margin-top: 0;
                }
                
                ul {
                    display: flex;
                    flex-direction: column;
                    padding: 0;
                }

                li {
                    display: flex;
                    flex-direction: column;
                    border-bottom: 2px solid $light-grayish-blue;
                    padding: 10px 0;
                    display: block;

                    .accordion-header {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        cursor: pointer;
                        color: $dark-grayish-blue;
                        font-weight: nth($font-kumbh-weight, 1 );

                        p {
                            padding-right: 10px;
                        }

                        .icon {
                            background-image: url('/images/icon-arrow-down.svg');
                            background-repeat: no-repeat;
                            height: 10px;
                            width: 10px;
                            padding-right: 10px;
                        }
                    }

                    .accordion-header:active {
                        color: $soft-red;
                        font-weight: nth($font-kumbh-weight, 1 );
                    }

                    .accordion-content {
                        display: none;
                        color: $very-dark-grayish-blue;
                        padding-right: 17px;
                    }
                }
            }

            li.active .accordion-header {
                color: $very-dark-desaturated-blue;
                font-weight: nth($font-kumbh-weight, 2 );
            }

            li.active .accordion-content {
                display: block;
                color: $very-dark-desaturated-blue;
            }

            li.active .icon {
                rotate: 180deg;
                margin-right: 9px;
            }
            
        }
    }

    footer {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 15px 0;

        span {
            color: $white;
            text-align: center;
    
            a {
                color: $white;
            }
        }
    }
}


